{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category }} {% endblock %}

{% block body %}

    <h1>Catégorie : {{ category }}</h1>

    <div>
    
        {% for book in books %}
            <article>
                <img src="http://placehold.it/150x150" alt="cover">
                <h2>{{ book.title }}</h2>
                <div>{{ book.content | raw }}</div>
                <p>publié le {{ book.date | date('d/m/Y') }} à {{ book.date | date('H:i') }}</p>
                <a href="{{ path('book_show', {'id': book.id }) }}">Lire la suite</a>
            </article>
        {% endfor %}
    
    </div>
    

{% endblock %}