{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <div>
    
        <section class="containerCategory" id="fantastiqueCategory">
            <a href="{{ path('show_category', {'category': 'fantastique' }) }}" class="linkCategory">
                <h2>Fantastique</h2> 
                <p>...</p>
            </a>
        </section>

        <section class="containerCategory" id="romanceCategory">
            <a href="{{ path('show_category', {'category': 'romance' }) }}" class="linkCategory">
                <h2>Romance</h2> 
                <p>...</p>
            </a>
        </section>

        <section class="containerCategory" id="litteratureCategory">
            <a href="{{ path('show_category', {'category': 'littérature' }) }}" class="linkCategory">
                <h2>Littérature</h2> 
                <p>...</p>
            </a>
        </section>

        <section class="containerCategory" id="poesieCategory">
            <a href="{{ path('show_category', {'category': 'poésie' }) }}" class="linkCategory">
                <h2>Poésie</h2> 
                <p>...</p>
            </a>
        </section>

        <section class="containerCategory" id="policierCategory">
            <a href="{{ path('show_category', {'category': 'policier' }) }}" class="linkCategory">
                <h2>Policier</h2> 
                <p>...</p>
            </a>
        </section>

        <section class="containerCategory" id="essaiCategory">
            <a href="{{ path('show_category', {'category': 'essai' }) }}" class="linkCategory">
                <h2>Essai</h2> 
                <p>...</p>
            </a>
        </section>
    
    </div>
    

{% endblock %}
